.content-repair {
  margin-top: 3%;
  border: solid 1px #eee;
  background-color: #fafafa;
  padding: 30px;
  .box-device {
    box-sizing: border-box;
    display: inline-block;
    border: solid 1px #eee;
    padding: 50px 100px;
    color: black;
    text-decoration: none;
    transition: all .3s;
    font-size: 30px;
    &:hover {
      background-color: #ccc;
    }
    &:first-of-type {
      margin-right: 100px;
    }
  }

  .box-select {
    border: 1px solid #e7ebeb;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    padding: 12px 20px;
    cursor: pointer;
    position: relative;
    background-color: white;
    &:hover {
      box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.1);
    }
    &.selected {
      background-color: #FAFBFC;
      box-shadow: none;
      &:after {
        content: '';
        background-image: url(./assets/triangle.svg);
        width: 15px;
        height: 9px;
        display: block;
        position: absolute;
        bottom: -8px;
        left: calc(50% - 10px);
    }
    }
  }

  .content {
    border: 1px solid #e7ebeb;
    padding: 20px 20px 50px 20px;
    margin-top: 10px;
    overflow: auto;
  }

  .content-body {
    //height:300px;
    display: flex;
    //flex-direction: column; /* NEW */
    //justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .value {
      width: 120px;
      text-align: left;
      line-height: 32px;
      cursor: pointer;
      padding: 2px;
      padding-left: 10px;
      margin-right: 20px;
      &:hover {
        color: #36485b;
        box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.15);
        font-weight: 600;
        position: relative;
        &:after {
          content: '';
          display: block;
          width: 10px;
          height: 10px;
          background: url(./assets/icon-chevron.svg) no-repeat center center;
          background-size: contain;
          position: absolute;
          right: 10px;
          top: 15px;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    .box-device {
      &:first-of-type {
        margin-right: 20px;
      }
    }
  }
  @media screen and (max-width: 767px) {
    .box-device {
      font-size: 20px;
      width: 100%;
      &:first-of-type {
        margin-right: 0px;
      }
    }
  }

}
















$color-blue: #1385e5;
$color-gray: #dfe0e4;
$color-white: #ffffff;
$slider-handle-size: 20px;
$slider-size: 4px;
$slider-fix: 20px;

.im-btn {
  display: inline-block;
  background-color: #ffffff;
  border: 0;
  outline: 0;
  cursor: pointer;
  line-height: 1;

  &:before {
    margin-right: 6px;
  }
}

.m-input-moment {
  display: inline-block;
  width: 330px;
  padding: 12px 15px;
  border-radius: 3px;
  border: 1px solid $color-gray;

  .options {
    width: 100%;
    display: inline-block;
    margin-bottom: 4px;

    button {
      float: left;
      width: 50%;
      color: $color-blue;
      text-align: center;
      font-size: 16px;
      padding: 7px;
      border: 1px solid $color-blue;
      border-radius: 3px;

      &:first-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      &:last-child {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }

      &.is-active {
        color: #ffffff;
        background-color: $color-blue;
      }
    }
  }

  .tab {
    display: none;
    height: 310px;

    &.is-active {
      display: block;
    }
  }

  .tabs {
    margin-bottom: 11px;
  }

  .btn-save {
    display: block;
    margin-top: 10px;
    width: 100%;
    background-color: $color-blue;
    padding: 12px 0;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    border-radius: 3px;
  }
}

.u-slider-time {
  position: relative;
  display: inline-block;
  background-color: $color-gray;
  border-radius: 3px;
  height: $slider-size;
  width: 100%;
  cursor: pointer;

  .value {
    position: absolute;
    background-color: $color-blue;
    border-radius: 3px;
    top: 0;
    height: 100%;
  }

  .handle {
    position: absolute;
    width: $slider-size;
    height: $slider-size;

    &:after {
      position: relative;
      display: block;
      content: '';
      top: -$slider-fix/2;
      left: -($slider-size+$slider-fix)/2;
      width: $slider-size + $slider-fix;
      height: $slider-size + $slider-fix;
      background-color: #fff;
      border: 3px solid $color-blue;
      border-radius: 50%;
      cursor: pointer;
    }
  }
}

.m-calendar {
  display: inline-block;
  max-width: 500px;

  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
  }

  td {
    padding: 8px 0;
    text-align: center;
    cursor: pointer;
    color: $color-gray;
    border: 1px solid $color-gray;
  }

  thead {
    td {
      color: $color-blue;
      font-size: 11px;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 12px;
    }
  }

  tbody td {
    color: #666666;

    &:hover {
      background: $color-gray;
    }
  }

  .current-day {
    color: $color-blue;
    font-weight: bold;
  }

  .prev-month,
  .next-month {
    color: #999999;
    &:hover {
      background-color: inherit;
      color: #999999;
      cursor: text;
    }
  }
  .selected {
    background-color: $color-blue;
    color: white;
    &:hover {
      background-color: $color-blue;
      color: white;
    }
  }

  .toolbar {
    line-height: 30px;
    color: $color-blue;
    text-align: center;
    margin-bottom: 13px;

    button {
      position: relative;
      width: 30px;
      height: 30px;
      line-height: 30px;
      color: #ffffff;
      border: 1px solid $color-blue;
      border-radius: 50%;
      background: $color-blue;
      font-size: 20px;
      padding: 0;
      text-align: center;
      outline: 0;
      z-index: 5;
      cursor: pointer;
    }

    .prev-month {
      float: left;
    }

    .next-month {
      float: right;
    }

    .current-date {
      color: $color-blue;
    }
  }
}

.m-time {
  color: $color-white;

  .showtime {
    text-align: center;
  }

  .separater {
    display: inline-block;
    font-size: 32px;
    font-weight: bold;
    color: $color-blue;
    width: 32px;
    height: 65px;
    line-height: 65px;
    text-align: center;
  }

  .time-text {
    position: relative;
    left: -10px;
    font-size: 15px;
    color: $color-blue;
    margin-top: 7px;
    margin-bottom: 10px;
  }

  .time {
    max-width: 500px;
    text-align: left;

    .hours {
      display: inline-block;
      padding: 10px;
      text-align: center;
      cursor: pointer;
      color: #666666;
      border: 1px solid #dfe0e4;
      margin: 5px;
      width: 85px;
      &:hover {
        background: $color-gray;
      }
      &.selected {
        background-color: $color-blue;
        color: white;
        &:hover {
          background-color: $color-blue;
          color: white;
        }
      }
      &.disabled {
        color: #ccc;
        cursor: default;
      }
    }
  }
}

.schedule-content {
  margin: 50px 0;
  &.address {
    margin: 5%;
    width: 40%;
    display: inline-block;
    box-sizing: border-box;
    @media only screen and (max-width: 768px) {
      width: 90%;
    }
    margin-bottom: 10px;
  }
  .contact-input {
    padding: 10px 20px;
    box-sizing: border-box;
    border: 1px solid #aebcce;
    border-radius: 10px;
    margin: 0 0 15px;
    font-size: 16px;
    font-weight: 300;
    width: 100%;

    &:focus {
      outline: none;
    }

    &.required {
      background-size: 12px;
      background-repeat: no-repeat;
      background-position: 99% 50%;
    }
  }
}

.confirm {
  max-width: 300px;
  margin: 0 auto;
  background-color: #1385e5;
  color: white;
  padding: 15px 30px;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 150px;
}

.error {
  font-size: 16px;
  border-radius: 20px;
  width: 30%;
  padding: 5px;
  text-align: center;
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .schedule-body {
    padding: 0 10px;
  }
  .m-time .time {
    text-align: center;
  }
}
