.report {
  padding: 20px; }
  .report .nav {
    margin-top: 20px;
    margin-bottom: 20px; }

.advisor {
  position: absolute;
  right: 0;
  top: 20px;
  text-align: center; }
  .advisor img {
    width: 80px; }

.container {
  position: relative; }

.car-pictures {
  width: 300px;
  margin: 10px; }

.card-content {
  display: inline-block;
  width: 85%; }
  .card-content.img {
    width: 15%;
    padding-right: 10px; }

.quotes {
  margin: 0;
  padding: 0; }
  .quotes .quote-title {
    text-decoration: underline; }
  .quotes li {
    display: inline-block;
    list-style: none;
    width: 25%;
    text-align: center; }

.inspection {
  align-content: space-around; }
  .inspection ul li {
    list-style: none; }
    .inspection ul li::before {
      content: "\2022";
      font-weight: bold;
      font-size: 70px;
      line-height: 0;
      vertical-align: middle; }
    .inspection ul li.good::before {
      color: yellow; }
    .inspection ul li.bad::before {
      color: red; }
    .inspection ul li.excellent::before {
      color: green; }
    .inspection ul li.div {
      margin-bottom: 10px; }
  .inspection .inspection-cat {
    width: 50%;
    float: left;
    box-sizing: border-box; }

.card {
  margin: 10px 0; }

.advisor-content .card-img-top {
  width: 100px; }

.advisor-content .card-body {
  position: absolute;
  left: 100px; }
