$good: yellow;
$bad: red;
$excellent: green;

.report{
 padding: 20px;
  .nav {
   margin-top: 20px;
   margin-bottom: 20px;
  }
}
.advisor {
 position: absolute;
 right:0;
 top:20px;
 text-align: center;
 img {
  width: 80px;
 }
}
.container {
 position: relative;
}

.car-pictures {
 width: 300px;
 margin:10px;
}
.card-content {
 display: inline-block;
 width: 85%;
 &.img {
  width: 15%;
  padding-right: 10px;
 }
}
.quotes {
 .quote-title {
 text-decoration: underline;
 }
 margin:0;
 padding: 0;
  li {
   display: inline-block;
   list-style: none;
   width: 25%;
   text-align: center;
  }
}

.inspection {
  ul li {
    list-style: none;
    &::before {
      content: "\2022";
      font-weight: bold;
      font-size: 70px;
      line-height: 0;
      vertical-align: middle;
    }
    &.good::before {
      color: $good;
    }
    &.bad::before {
      color: $bad;
    }
    &.excellent::before {
      color:$excellent;
    }
    &.div {
      margin-bottom: 10px;
    }
  }
  align-content: space-around;
  .inspection-cat {
    width: 50%;
    float: left;
    box-sizing: border-box;
  }
}

.card {
 margin:10px 0;
}
.advisor-content {
  .card-img-top {
    width: 100px;
  }
  .card-body {
    position: absolute;
    left: 100px;
  }
}
